<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462441991796-69c7h9mkj32hkahs3d352btta76sg5rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462441991796-69c7h9mkj32hkahs3d352btta76sg5rg</string>
	<key>API_KEY</key>
	<string>AIzaSyAx4qH8gdzzfmgk62S68ms1U2cDgVoziHU</string>
	<key>GCM_SENDER_ID</key>
	<string>462441991796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bds.fantasyMotogp</string>
	<key>PROJECT_ID</key>
	<string>fantasygp-31b35</string>
	<key>STORAGE_BUCKET</key>
	<string>fantasygp-31b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462441991796:ios:31fac50aa234cf7126cb21</string>
	<key>DATABASE_URL</key>
	<string>https://fantasygp-31b35-default-rtdb.firebaseio.com</string>
</dict>
</plist>